<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <style><%= css %></style>
  <script><%= js %></script>
</head>

<body>
  <div id="chat"></div>
  <div>
    <form id="chat-form">
      <input id="chat-input" placeholder="Message #flump" autofocus required>
    </form>
  </div>
</body>

</html>
