[Unit]
Description=reactor
Requires=network.target

[Service]
EnvironmentFile=/home/reactor/.env
WorkingDirectory=/home/reactor/
Type=simple
User=reactor
Group=reactor
ExecStart=/opt/rubies/ruby-2.7.0/bin/ruby -r /home/reactor/lib/service.rb -e "Service.new"
SyslogIdentifier=reactor

[Install]
WantedBy=multi-user.target
